# Cache Package Environment Variables

# Redis Credentials
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_PASSWORD=
CACHE_REDIS_DB=0

# Redis Connection Settings
CACHE_REDIS_CONNECT_QUERY_TIMEOUT=2s
CACHE_REDIS_CONNECT_EXEC_TIMEOUT=2s
CACHE_REDIS_CONNECT_BACKOFF_MIN=200ms
CACHE_REDIS_CONNECT_BACKOFF_MAX=15s
CACHE_REDIS_CONNECT_BACKOFF_FACTOR=2
CACHE_REDIS_CONNECT_BACKOFF_JITTER=true
CACHE_REDIS_CONNECT_BACKOFF_RETRIES=7

# Redis Pool Settings
CACHE_REDIS_POOL_MAX_IDLE_CONNS=10
CACHE_REDIS_POOL_MAX_ACTIVE_CONNS=20
